/* Color Palette */

$color-charred-maroon-soot: #4b1529;
$color-vintage-maroon: #90445e;
$color-deep-sky-crayon: #1f9ebe;
$color-deeper-ocean-blue: #005368;
$color-cyan: #62dfff;
$color-deep-sky-bue-crayon: #1f9ebe;
$color-pale-sky-blue-crayon: #c6f4ff;
$color-pale-cotton-pink: #e7c6d1;
$color-plumeria: #aa576c;
$color-black-deep-plum: #2d0012;
$color-deep-plum: #6d2a3f;
$color-raspberry-rising: #9f2e58;
$color-bright-raspberry: #bc295f;
$color-another-plum: #841c42;
$color-lime-green: #b0ea00;
$color-bright-grass: #6b9430;
$color-medium-grass: #4f731c;
$color-burnt-grass: #38570c;
$color-light-rose-red: #e6abbc;
$color-dark-faded-rose: #774e55;
$color-sunlit-dusty-rose: #8e555f;
$color-pale-marshmallow-pink: #ffe8f1;
$color-light-pink: #f8eeee;
$color-light-blue: #2d8ba3;
$color-lighter-pink: #f0dce0;
$color-anemic-mustard: #ded540;
$padding-size: 1rem;

/* Bootstrap Overrides */

$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-border-width: 0;
$input-border-color: $color-charred-maroon-soot;
$input-placeholder-color: #d195a5;
$input-bg: transparent;
$body-bg: $color-light-pink;

$input-padding-x-sm: $padding-size;
$input-padding-y: 0;
$input-color: $color-light-blue;

$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

$input-font-family: courier, "courier new", monospace;
$font-family-base: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

$primary: $color-raspberry-rising;

.form-control {
  border-bottom: solid 2px $input-border-color !important;
}

.btn {
  /*  ultimately this should just be targeted for the submit 'GO' button
  border-bottom: 3px solid $color-another-plum !important;
  */
}

.form-label {
  margin-left: $padding-size;
  color: $color-pale-marshmallow-pink;
  background-color: $color-charred-maroon-soot;
  padding: 0 0.6em;
}